.account-modal {
    width: 80%;
}
.account-modal > div:first-of-type {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    position: relative;
}
.account-modal > div:first-of-type > div:first-child {
    width: 50%;
}
.account-modal > div:first-of-type img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-lg);
} 
.account-form {
    width: 45%;
    margin:  2rem 3rem 2rem 0; 
    line-height: 1.6;
    align-self: center;
}
.account-form h2, .account-form p > button {  
    background-image: linear-gradient(to right, rgb(255 78 190), rgb(41 51 131));
    color: transparent;
    background-clip: text;  
}
.account-form .tagline{
    margin-top: 0.3rem;
    color: #4d4f53a2;
}
.account-form > form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.account-form .input-box {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 0.2rem;
}
.account-form label {
    font-weight: bold;
    color: gray;
}
.account-form input {
    width: auto;
    padding: 0.7rem 1rem;
    border: 1px solid #4d4f532f;
    border-radius: var(--border-radius-sm);
}
.account-form input::placeholder {
    color: #4d4f536e;
    font-family: var(--font-body);
}
.account-form > form button {
    margin: 1rem 0;
    font: inherit;
    font-weight: bold;
    background-image: linear-gradient(135deg, rgb(255 78 190), rgb(41 51 131));  
    color: var(--white);
}
.account-form p:last-of-type{
    text-align: center;
}
.account-form p:last-of-type a {
    background-image: linear-gradient(135deg, rgb(255 78 190), rgb(41 51 131));
    color: transparent;
    background-clip: text;  
    font-weight: bold;
}
.signup-page div {
    display: flex;
    gap: 0 1rem;
}
.account-modal--close {
    position: absolute;
    right: 0;
    z-index: 1;
    top: -6px;
}
