.game-section__questions-page {
    padding: var(--spacing-y) var(--spacing-x);
    display: flex;
    gap: 3rem;
    background-color: var(--purple-50);
}
.game-section__questions-page aside {
    width: 250px;
    height: fit-content;   
} 
img {
    height: 100%;
    width: 100%;
}
aside,
aside > div{
    display: flex;
    flex-direction: column;
} 
aside {
    padding: 1.4rem;
    border-radius: var(--border-radius-lg);
    gap: 1.5rem;
    height: fit-content;
    box-shadow: -10px 10px 0 rgba(0, 0, 0, 0.192);
    background-color: var(--purple-100);
} 
aside > strong {
    text-transform: uppercase;
}
aside strong {
    color: var(--purple);
    font-size: 1.1rem;
    font-family: var(--font-heading);
} 
aside > div{
   line-height: 1.9;
}
aside button {
    background-color: #fa9502;
    color: var(--white);
    width: fit-content;
}
aside button:hover {
    background-color: rgba(128, 0, 128, 0.13);
    color: var(--purple);
    border: 1px solid var(--purple);
}
.game-section__questions-page > div {
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-y);
    background-color: var(--purple-100);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: -10px 10px 0 rgba(0, 0, 0, 0.192);
}
.question-box__header h2 {
    text-transform: uppercase;
    color: var(--purple);
}
.question-box__header,
.question-box__header > div {
    display: flex;
    justify-content: space-between;
}
.question-box__header > div {
    gap: 0.5rem;
}
.question-box__header > div strong, .question-box__header > div p strong {
    font-size: 1.5rem;
    color: var(--purple);
}
.question-box__header > div p {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.question-box__header > div p strong {
    border: 1px solid var(--purple);
    border-radius: var(--border-radius-md);
    width: fit-content;
    padding: 0.1rem 0.3rem;
    margin: auto;
}
.question-box__header > div p span {
    text-align: center;
    font-size: 0.8rem;
}
/* section 2 */
.question-box {
    display: flex; 
    gap: 4rem;
}
.question-box > div:first-of-type {
    width: 70%;
}
.question-box__title { 
    font-weight: bold;
    font-size: 1.2rem; 
    font-family: var(--font-heading);
    line-height: 1.8;
}
.question-box__options {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    line-height: 1.8;
}
.question-box__options > button {
    text-align: left;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: var(--border-radius-md);
    color: var(--purple);
    font-weight: normal;
}
.question-box__options > button:hover {
    background-color: var(--purple);
    color: var(--white);
}
.question-box__options > button.green {
    background-color: green;
    color: var(--white);
}
.question-box img {
    width: 30%; 
    object-fit: cover; 
}