nav {
    padding: 0.9rem var(--spacing-x);
    background-color: var(--purple);
    color: var(--white);
}
nav > a:hover {
    text-decoration: none !important;
}
nav, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    gap: 3rem;
}
nav button {
    box-shadow: 0 0 15px rgb(70, 70, 70);
    padding: 4px 12px;
    background-color: var(--white);
    color: var(--text-color);
    font-weight: normal;
}
nav button a:hover {
    text-decoration: none;
}
nav button:hover {
    background-color: var(--purple);
    color: var(--white);
}