nav {
    padding: 0.9rem var(--spacing-x);
    background-color: var(--purple);
    color: var(--white);
    height: 40px;
}
nav, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul:first-of-type {
    gap: 4rem;
}
nav ul:last-of-type {
   gap: 1.5rem
}
nav button {
    box-shadow: 0 0 15px rgb(70, 70, 70);
    padding: 4px 12px;
    background-color: var(--white);
    color: var(--text-color);
    font-weight: normal;
}
nav button:hover {
    background-color: var(--purple);
    color: var(--white);
}
nav a:hover{
    border: 1px solid var(--white);
    padding: 0.5rem;
    border-radius: var(--border-radius);
}
nav .signup a:hover {
    border: none;
    border-radius: none;
    padding: 0;
}